apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      org_service_url: "https://dev.azure.com/my-org"
      client_id: "00000000-0000-0000-0000-000000000001"
      tenant_id: "00000000-0000-0000-0000-000000000001"
      client_secret: "top-secret-password-string"
    }
